In [1]:
import lightgbm as lgb
import pandas as pd
from mlforecast import MLForecast
from mlforecast.lag_transforms import ExpandingMean, RollingMean
from mlforecast.utils import generate_daily_series, generate_prices_for_series

In [2]:
series = generate_daily_series(
    100, equal_ends=True, n_static_features=2
).rename(columns={'static_1': 'product_id'})
series.head()

  unique_id         ds           y static_0 product_id
0     id_00 2000-10-05   39.811983       79         45
1     id_00 2000-10-06  103.274013       79         45
2     id_00 2000-10-07  176.574744       79         45
3     id_00 2000-10-08  258.987900       79         45
4     id_00 2000-10-09  344.940404       79         45

In [6]:
prices_catalog = generate_prices_for_series(series)
prices_catalog.head()

          ds unique_id     price
0 2000-10-05     id_00  0.548814
1 2000-10-06     id_00  0.715189
2 2000-10-07     id_00  0.602763
3 2000-10-08     id_00  0.544883
4 2000-10-09     id_00  0.423655

In [11]:
series_with_prices = series.merge(prices_catalog, how='left')
series_with_prices.head()

  unique_id         ds           y static_0 product_id     price
0     id_00 2000-10-05   39.811983       79         45  0.548814
1     id_00 2000-10-06  103.274013       79         45  0.715189
2     id_00 2000-10-07  176.574744       79         45  0.602763
3     id_00 2000-10-08  258.987900       79         45  0.544883
4     id_00 2000-10-09  344.940404       79         45  0.423655

In [13]:
fcst = MLForecast(
    models=lgb.LGBMRegressor(n_jobs=1, random_state=0, verbosity=-1),
    freq='D',
    lags=[7],
    lag_transforms={
        1: [ExpandingMean()],
        7: [RollingMean(window_size=14)],
    },
    date_features=['dayofweek', 'month'],
    num_threads=2,
)
fcst.fit(series_with_prices, static_features=['static_0', 'product_id'])

MLForecast(models=[LGBMRegressor], freq=D, lag_features=['lag7', 'expanding_mean_lag1', 'rolling_mean_lag7_window_size14'], date_features=['dayofweek', 'month'], num_threads=2)

In [14]:
fcst.ts.features_order_

['static_0',
 'product_id',
 'price',
 'lag7',
 'expanding_mean_lag1',
 'rolling_mean_lag7_window_size14',
 'dayofweek',
 'month']

In [16]:
preds = fcst.predict(h=7, X_df=prices_catalog)
preds.head()

  unique_id         ds  LGBMRegressor
0     id_00 2001-05-15     418.930093
1     id_00 2001-05-16     499.487368
2     id_00 2001-05-17      20.321885
3     id_00 2001-05-18     102.310778
4     id_00 2001-05-19     185.340281

In [17]:
from sklearn.linear_model import LinearRegression
from utilsforecast.feature_engineering import fourier

In [20]:
transformed_df, future_df = fourier(series, freq='D', season_length=7, k=2, h=7)

In [21]:
transformed_df.head()

,unique_id,ds,y,static_0,product_id,sin1_7,sin2_7,cos1_7,cos2_7
0,id_00,2000-10-05,39.811983,79,45,-0.974927,0.433893,-0.222526,-0.900964
1,id_00,2000-10-06,103.274013,79,45,-0.781834,-0.974926,0.623486,-0.222530
2,id_00,2000-10-07,176.574744,79,45,-0.000004,-0.000009,1.000000,1.000000
3,id_00,2000-10-08,258.987900,79,45,0.781829,0.974930,0.623493,-0.222513
4,id_00,2000-10-09,344.940404,79,45,0.974929,-0.433877,-0.222517,-0.900972

In [22]:
fcst2 = MLForecast(models=LinearRegression(), freq='D')
fcst2.fit(transformed_df, static_features=['static_0', 'product_id'])

MLForecast(models=[LinearRegression], freq=D, lag_features=[], date_features=[], num_threads=1)

In [23]:
fcst2.predict(h=7, X_df=future_df).head()

  unique_id         ds  LinearRegression
0     id_00 2001-05-15        250.202585
1     id_00 2001-05-16        241.510858
2     id_00 2001-05-17        248.653650
3     id_00 2001-05-18        268.419808
4     id_00 2001-05-19        277.885312

In [25]:
# series

In [ ]:
fig = plot_series(train, test.rename(columns={'y': 'y_test'}), models=['y_test'], plot_random=False)

In [ ]:
fig = plot_series(
    train, 
    test, 
    plot_random=False, 
    models=['Ridge'], 
    level=levels, 
    max_insample_length=48
)